doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title Sylitas
  //
    =====================================================
    CSS Stylesheets
    =====================================================
  link(rel="shortcut icon" type="image/jpg" href="img/img.ico")
  link(rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='css/linea.css')
  link(rel='stylesheet' type='text/css' href='css/ionicons.min.css')
  link(rel='stylesheet' type='text/css' href='css/owl.carousel.css')
  link(rel='stylesheet' type='text/css' href='css/magnific-popup.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  script(src='jquery/homepage.jquery.js')
//
  =====================================================
  Preloader
  =====================================================
#preloader
  .loader
  .left
  .right
.main-content
  //
    =====================================================
    Page Borders
    =====================================================
  .page-border.border-left
  .page-border.border-right
  .page-border.border-top
  .page-border.border-bottom
  //
    =====================================================
    Menu Button
    =====================================================
  a.menu-btn(href='#')
    span.lines
      span.l1
      span.l2
      span.l3
  //
    =====================================================
    Menu
    =====================================================
  .menu
    .inner
      ul.menu-items
        li
          a.section-toggle(href='#' data-section='intro')
            | Home
        li
          a.section-toggle(href='#about' data-section='about')
            | About
        li
          a.clickedPortfolio.section-toggle(href='#portfolio' data-section='portfolio')
            | Portfolio
        li
          a.section-toggle(href='#contact' data-section='contact')
            | Contact
  .animation-block
  //
    =====================================================
    Sections
    =====================================================
  .sections
    //
      =====================================================
      Main Section
      =====================================================
    section#intro.section.section-main.active
      .container-fluid
        .v-align
          .inner
            .intro-text
              h1 My name&apos;s Duy
              p
                | I&apos;m a Web Developer and a Photographer
              .intro-btns
                a.btn-custom.section-toggle(href='#about' data-section='about')
                  | Discover More
                a.clickedPortfolio.btn-custom.section-toggle(href='#portfolio' data-section='portfolio')
                  | Portfolio
                a.btn-custom.section-toggle(href='#contact' data-section='contact')
                  | Contact Me
    //
      =====================================================
      About Section
      =====================================================
    section#about.section.about-section.border-d
      .section-block.about-block
        .container-fluid
          .section-header
            h2
              | I&apos;m a 
              strong.color Programmer
          .row
            .col-md-4
              ul.info-list
                li
                  strong Name:
                  span Nguy&#x1EC5;n Tu&#x1EA5;n Duy
                li
                  strong Job:
                  span Web Developer
                li
                  strong Age:
                  span 22
                li
                  strong Residence:
                  span Vi&#x1EC7;t Nam
                li
                  strong Hometown:
                  span H&agrave; N&#x1ED9;i
              br
              .row
                .col-md-6
                  p  More detail
                    .intro-btns 
                      a.btn-custom.btn-color.btn-custom.section-toggle(href='#portfolio' data-section='portfolio')
                        | Portfolio
                .col-md-6
                  p Feel Free to
                    .intro-btns
                      a.btn-custom.btn-color.btn-custom.section-toggle(href='#contact' data-section='contact')
                        | Contact Me
            .col-md-8
              .about-text
                p
                  | In 2017, I started my bachelor degree of Information Communication Technology (ICT) at University of Science and Technology of Hanoi (USTH). During second year of university, I did an internship at FPT Information System participated in a project named OFSAA. My main task was engaging with database involving mapping and testing.
                p
                  | Before graduating, I attended another project called Lung Cancer Care at ICTLab of university. In three months, I finished a website allowing doctors access into imaging data storage. It supports full logging interface and helps users with managing image data such as CT images or .dicom files, direct-viewing and simple image processing, for example, noting at each image, calculating distance from two point by milimeter, changing image color negative image, Etc.
                p
                  | Currently i'm  working at HTC-ITC as a web-based software developer. Amis is the name of project that i am doing, which has triple A (AAA) computer sercurity, using Lightweight Directory Access Protocol (LDAP) for logging and also containing system for employee and customer management.
                p Because
                  | 
                  b Javascript 
                  | is a powerful programming language so i have experience in both frontend (HTML, CSS, JS ,PugJS ,VueJS) and backend (PHP, JS, NodeJs, ExpressJS) languages or framework. However, i am focusing on backend more than anything else.
                  
      .section-block.services-block
        .container-fluid
          .section-header
            h2
              | My 
              strong.color Hobbies
          .row
            .col-md-6
              .service
                .icon
                  i.icon-basic-photo
                .content
                  h4 Photography
                  p
                    | Since I am an out-going person and really fond of food presentation, instead of choosing normal lenses, I own Pentax K-5 with len macro. It helps me shoot better food plates and portraits than scenery and outdoor activities
                  .intro-btns 
                    a.btn-custom.btn-color.btn-custom.section-toggle(href='#portfolio' data-section='portfolio')
                      | Portfolio
            .col-md-6
              .service
                .icon
                  i.icon-basic-keyboard
                .content
                  h4 Programming
                  p
                    | Different from photography, I love creating products with (highly) practical capabilities for personal or general usage. Coding is what I am looking for. I like the sense of achievement after solving a problem requiring deep learning and seeking for knowledge of other people, which makes programming not only a career but also a passion.
      .section-block.skills-block
        .container-fluid
          .section-header
            h2
              | My 
              strong.color Skills
          .row
            .col-md-6
              .skill
                h4 HTML/CSS
                .bar
                  .percent(style='width:60%;')
              .skill
                h4 PugJS
                .bar
                  .percent(style='width:55%;')
              .skill
                h4 jQuery
                .bar
                  .percent(style='width:55%;')
            .col-md-6
              .skill
                h4 JavaScript es6
                .bar
                  .percent(style='width:65%;')
              .skill
                h4 PHP x Wordpress
                .bar
                  .percent(style='width:40%;')
              .skill
                h4 NodeJS x ExpressJS
                .bar
                  .percent(style='width:60%;')
    //
      =====================================================
      Portfolio Section
      =====================================================
    section#portfolio.section.portfolio-section.border-d
      .section-block.portfolio-block
        .container-fluid
          .section-header
            h2
              | My 
              strong.color Works
          ul.portfolio-filters
            li
              a.active(href='#' data-group='all')
                | All
            li
              a(href='#' data-group='web')
                | Web
            li
              a(href='#' data-group='photography')
                | Photography
          ul.portfolio-items
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/7.png' alt='')
                .overlay
                  a.view-project(href='#popup-7')
                    | View 
                  #popup-7.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/7.png' alt='')
            li(data-groups='["web"]')
              .inner
                img(src='img/portfolio/lcc.png' alt='')
                .overlay
                  a.view-project(href='#popup-1')
                    | View Project
                  #popup-1.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/lcc.png' alt='')
                    .content
                      h4 Name
                      b Radiologist and Image management on Lung cancer care website
                      p 
                        |Github: 
                        a(href="https://github.com/sylitas/internship-project.git") https://github.com/sylitas/internship-project.git
                      h4 Description
                      p
                        | The main idea here is helping doctor at CT image when locating the lung cancer on website. PHP is main programming language for creating this project. For more information, please read the report at : 
                        a(href = "https://www.overleaf.com/read/hdrcfcwcsydz") https://www.overleaf.com/read/hdrcfcwcsydz
            li(data-groups='["web"]')
              .inner
                img(src='img/portfolio/amis.png' alt='')
                .overlay
                  a.view-project(href='#popup-2')
                    | View Project
                  #popup-2.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/amis.png' alt='')
                    .content
                      h4 Amis
                      p
                        |Github:
                        a(href="https://github.com/sylitas/amis") https://github.com/sylitas/amis
                      h4 Description 
                      p - This repository is a website that cloned of amis.vn product
                      p - For front end, whole project had been wrote by using PugJS. Also, Bootstrap is highly help in beautify the site.
                      p - For back end, this project created at NodeJS environment by using ExpressJS as a framework. There are some function that created for it, such as :
                      p + Authentication : Using LDAP for accessing Active Directory
                      p + Authorization
                      p + CRUD            
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/3.jpg' alt='')
                .overlay
                  a.view-project(href='#popup-3')
                    | View 
                  #popup-3.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/3.jpg' alt='')
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/4.jpg' alt='')
                .overlay
                  a.view-project(href='#popup-4')
                    | View 
                  #popup-4.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/4.jpg' alt='')
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/5.jpg' alt='')
                .overlay
                  a.view-project(href='#popup-5')
                    | View 
                  #popup-5.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/5.jpg' alt='')
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/6.jpg' alt='')
                .overlay
                  a.view-project(href='#popup-6')
                    | View 
                  #popup-6.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/6.jpg' alt='')
            li(data-groups='["photography"]')
              .inner
                img(src='img/portfolio/8.png' alt='')
                .overlay
                  a.view-project(href='#popup-8')
                    | View 
                  #popup-8.popup-box.zoom-anim-dialog.mfp-hide
                    figure
                      img(src='img/portfolio/8.png' alt='')
    //
      =====================================================
      Contact Section
      =====================================================
    section#contact.section.contact-section.border-d
      .section-block.contact-block
        .container-fluid
          .section-header
            h2
              | Contact 
              strong.color Me
          .row
            .col-md-8
              .contact-form
                form#contact-form(data-toggle='validator' method='post')
                  #contact-form-result
                  .row
                    .col-md-6
                      .form-group
                        input.form-control(type='text' placeholder='Name' name='name' required='')
                        .help-block.with-errors
                    .col-md-6
                      .form-group
                        input.form-control(type='email' placeholder='Email' name='email' required='')
                        .help-block.with-errors
                  .form-group
                    input.form-control(type='text' placeholder='Subject' name='subject' required='')
                    .help-block.with-errors
                  .form-group
                    textarea.form-control(placeholder='Message' name='message' rows='5' required='')
                    .help-block.with-errors
                  .form-group.text-center
                    button.btn-custom.btn-color(type='submit')
                      | Send
            .col-md-4
              .contact-info-icons
                .contact-info
                  i.ion-ios-location-outline
                  p
                    | 87 H&agrave; Tr&igrave;, P. H&agrave; C&#x1EA7;u
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;H&agrave; &Dstrok;&ocirc;ng, H&agrave; N&#x1ED9;i
                .contact-info
                  i.ion-ios-telephone-outline
                  p
                    | (+84) 834-120-699
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;(+84) 936-419-218
                .contact-info
                  i.ion-android-globe
                  p
                    a(href='https://www.facebook.com/sylitas') facebook.com
                    br
                    a(href='https://www.instagram.com/sylitas/') instagram.com
//
  =====================================================
  JavaScript Files
  =====================================================
script(src='js/jquery.min.js')
script(src='js/jquery.shuffle.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/validator.min.js')
script(src='js/script.js')
